.step-wrapper {
  position: relative;
}

.step-container {
  border: 1px solid lightgray;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s, box-shadow 0.3s, border 0.3s;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
}

.step-container:hover {
  background-color: #f0f0f0;
}

.step-container.active {
  border: 2px solid #757ed7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.step-container.error {
  background-color: #ffe6e6;
}

.step-number {
  min-width: 24px;
  height: 24px;
  text-align: center;
  font-weight: 300;
  background-color: #f6f8f9;
  border-radius: 31%;
  font-size: 11px;
  padding: 5px;
  color: #7a7676;
}

.list-number {
  min-width: 24px;
  height: 24px;
  text-align: center;
  background-color: #f6f8f9;
  border-radius: 10%;
  margin-right: 8px;
}

.bi-list-ul{
  margin: 8px;
}

.step-name {
  margin-left: 10px;
  flex-grow: 1;
}

.lineV {
  height: 44px;
  width: 6px;
  background-color: #eff3f4;
  margin: -16px;
  margin-bottom: -40px;
  margin-left: 33px;
}

.lineH {
  height: 2px;
  width: 80%;
  background-color: #f6f8f9;
  margin-top: 12px;
  margin-left: 93px;
}

.bi-exclamation-circle-fill {
  position: absolute;
  top: 50%;
  right: -1.5rem;
  transform: translateY(-50%);
}

.paper {
  background-color: #fcfdfd;
  border: 2px solid #f8f9fa; 
  margin: 20px; 
  padding-right: 30px;
}

.app-container {
  max-width: 80%;
}

.custom-warning {
  color: #fdf3e3;
  background-color: #e3a654;
  border-radius: 50%;
  padding: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
